body {
	background-color: lightgrey;
}

h1 {
font-size: 30px;
color: #14DFFF;}

h2{color: red;
font-size: 15px;}

.big{
	font-size: 60px;
}
.uppercase {
	text-transform: uppercase;
}
.big.uppercase {
	color: darkgoldenrod;
}
h1 span {
	color: darkviolet;
}
